@charset "utf-8";
/* this is used with the 'mediaquery.html' page to see media queries in effect. Reference this CSS file on a blank page and then resize the browser window */

body{
	padding:0px;
	margin:0px;
	font-family:微软雅黑;
	font-size:12px;
}

.LOGO{
	background-image:url(image/Orange.png);
	height:10%;
}

#title{
	font-family: "楷体";
	font-size: 60px;
	color: #ffffff;
	width: 912px;
	margin:0 auto;
}

select{
	margin-left:10%;
}

.buttons{
	margin-top:10px;
	border-radius:10px;
	margin-left:10%;
}


.main{
	height:90%;
	width:100%;
}
#toc{
	width:29%;
	height:40%;
	float:right;
}
#chartTwo{
	float:right;
	width:29%;
	height:40%;
}
#legendTwo{
	float:right;
	width:29%;
	height:10%;
}
#map{
	float:left;
	width:70%;
	height:100%;
	border-style:solid;
	border-width:0px 0.4px 0px 0px;
}
#Toolbar2{
	margin-left:78%;
}
#test{
	margin-top:30px;
}
